main {
    padding: 30px;
	font-size: 0;
}

.container-main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.upper {
	width: 50%;
	height: 200px;
	display: inline-block;
	border: 1px black solid;
}

.upper-left {
	background-color: green;
}

.upper-right {
	background-color: blue;
}

.lower {
	width: 33.33%;
	height: 300px;
	display: inline-block;
	border: 1px black solid;
}

.lower-left {
	background-color: gray;
}

.lower-middle {
	background-color: black;
}

.lower-right {
	background-color: darkgoldenrod;
}



