body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula-one, .nebula-two {
	width: 200px;
	padding: 10px;
}

.nebula-one {
	float: left;
}

.nebula-two {
	float: right;
}