nav {
	height: 70px;
	width: 100%;
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	position: fixed;
}

nav img {
	height: 75%;
	border-radius: 50%;
	border: 1px black solid;
}

nav ul li {
	display: inline;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 300px;
	border: 10px green dashed;
	position: relative;
	top: 200px;
}

main img {
	height: 200px;
	width: 200px;
}

.space-cat {
	position: absolute;
	left: -50px;
	top: -100px;
}

.space-dog {
	position: absolute;
	right: -50px;
	bottom: -100px;
}